.homepage
  %h1 Suits You Sir

  .game_container
    .style_game
      %h3
        Play Our Style Game
      .player.man
        .icon
        %span
          What's your Style?

      .player.woman
        .icon
        %span
          How well do you know your man?
